@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
	background-color: rgba(0, 0, 0, .7);
}

header {
	background-image: url(../images/brickwall.png);
	background-repeat: repeat;
	text-align: center;
}

h1 {
	font-family: Oswald;
	font-size: 3.3em;
	margin: 0;
}

h2 {
	font-family: Lato;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family: Lato;
	text-transform: uppercase;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 0;
}

p {
	text-align: justify;
	font-size: 1em;
	color: white;	
	font-family: Open Sans;
}

li {
	font-family: Open Sans;
}

a {
	color: #4cd964;
	text-decoration: none;
}

nav {
	background-image: url(../images/brickwall.png);
	background-repeat: repeat;
	width: 100%;
}

article {
	color: white;
}

table {
	font-family: Open Sans;
}

table p {
	margin: 0;
	text-indent: 0;
	font-family: Lato;
	color: #4cd964;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-top: .5em;
}

footer p {
	text-align: center;
	font-family: Lato;
}

#main-photo {
	height: 180px;
	margin: 2em;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-bottom-right-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

#left-header {
	display: inline-block;
	vertical-align: top;
}

#right-header {
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
}

#social-icons {
	height: 2.5em;
	top: 0;
	position: relative;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#social-icons:hover {
	top: -0.3em;
	position: relative;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#tagline {
	font-size: 1.4em;
	margin: 0 auto;
}

#nav-links {
	background-color: rgba(255, 255, 255, .5);
	padding: .5em;
	text-align: center;
	margin: 0;
}

#nav-links li {
	display: inline;
	font-size: 1.3em;
	font-family: Oswald;
	text-transform: uppercase;
	padding: 0 1.5em;
	text-decoration: none;
}

#nav-links a:hover {
	color: #80F20D;
}

.skills-rate {
	width: 100%;
}

.skills-rate div {
	background-color: #4cd964;
	min-height: .6em;
	margin: 0 .5em;
}

.skills-rate div:hover {
	background-color: #4ce964;
}

.project-list img {
	width: 100%;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.project-list div {
	vertical-align: top;
	display: inline-block;
	padding: 0 1em;
	width: 29%;	
}

.about-me h3 {
	color: white;
	font-size: 1.5em;
	margin-top: 0;
}

.container {
	margin-left: 10%;
	margin-right: 10%;
}

.fixed {
	position: fixed;
	top: 0;
}

.about-me article {
	vertical-align: top;
	padding: 0 1em;
}

.about-me li {
	list-style-type: none;
	text-indent: -2em;
}

.bio {
	display: inline-block;
	width: 37%;
}

.tech-skills {
	display: inline-block;
	width: 25%;
}

.other-skills {
	display: inline-block;
	width: 25%;
}

.contact-icons {
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	text-align: center;
}

.contact-icons > li {
	display: inline;
	font-size: 1.3em;
	padding: 0 .5em;
}

/*Start Responsive Design*/

@media (max-width: 800px){
	h1 {
		font-size: 30px;
	}

	ul {
		padding: 5px;
	}

	nav li {
		padding-left: 15PX;
	}

	#main-photo {
		margin-top: 1em;
		margin-bottom: 0;
	}

	#tagline {
	font-size: 1em;
	}

	#nav-links li {
		display: inline-block;
	}

	.project-list > div {
		display: block;
		width: auto;
	}

	.about-me > article {
		display: block;
		width: auto;
	}
}
