@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato:100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

a {
	color: #4cd964;
	text-decoration: none;
}

a,
a:hover,
a:active,
a:focus {
	outline: none;
}

article {
	color: white;
}

body {
	background-color: rgba(0, 0, 0, .7);
}

h1 {
	font-family: Oswald;
	font-size: 3.3em;
	margin: 0;
}

h2,
h3,
h4 {
	font-family: Lato;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0;
	text-align: left;
}

h4 {
	color: #4cd964;
	font-size: 1.2em;
	margin: .5em 0 0 0;
}

li {
	font-family: Open Sans;
}

nav {
	background-image: url(../images/brickwall.png);
	background-repeat: repeat;
	width: 100%;
}

p {
	color: white;	
	font-family: Open Sans;
	font-size: 1em;
	text-align: justify;
}

table {
	font-family: Open Sans;
}

.contact-icons {
	background-color: rgba(255, 255, 255, .5);
	display: flex;
	justify-content: space-around;
	padding: .7rem 0;
}

.contact-icons > li {
	display: inline;
	font-size: 1.3em;
}

.container {
	margin: 0 10%;
}

.fixed {
	position: fixed;
	top: 0;
}

.mobile-hide {
	display: block;
}

.mobile-show {
	display: none;
}

.nav-link {
	display: inline;
	font-family: Oswald;
	font-size: 1.3em;
	letter-spacing: 1px;
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-link > a:hover {
	color: #80F20D;
}

.nav-link:hover > a:after {
	content: "";
	width: 100%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    background: #80F20D;
}

.project-image {
	width: 100%;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.social-icons {
	height: 2.5em;
	top: 0;
	position: relative;
	-moz-transition: top 0.3s ease-in;
	-webkit-transition: top 0.3s ease-in;
	transition: top 0.3s ease-in;
	vertical-align: middle;
}

.social-icons:hover {
	top: -0.5em;
}

.skills-name {
	white-space: nowrap;
	padding-right: .3rem;
}

.skills-score {
	width: 100%;
}

.skills-score > div {
	background-color: #4cd964;
	min-height: .6em;
}

.skills-score > div:hover {
	background-color: #4ce964;
}

#about-me > article {
	vertical-align: top;
}

#about-me > article > h3 {
	color: white;
	font-size: 1.5em;
	margin-top: 0;
}

#bio {
	display: inline-block;
	width: 34%;
}

#contact > .contact-icons {
	padding: .7rem 25%;
}

#footer-text {
	text-align: center;
	font-family: Lato;
	padding: 1rem;
}

#header {
	background-image: url(../images/brickwall.png);
	background-repeat: repeat;
	text-align: center;
}

#header-left {
	display: inline-block;
	vertical-align: top;
}

#header-right {
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
}

#main-photo {
	height: 180px;
	margin: 2em;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-bottom-right-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

#more-gifs {
	margin: 0 2.5%;
}

#nav-links {
	background-color: rgba(255, 255, 255, .5);
	display: flex;
	justify-content: space-between;
	padding: .5em 10%;
	margin: 0;
}

#other-skills {
	display: inline-block;
	width: 28.5%;
}

#project-list > article {
	vertical-align: top;
	display: inline-block;
	width: 31%;
}

#tagline {
	font-size: 1.4em;
	margin: 0 auto;
}

#tagline > .mobile-hide {
	display: inline-block;
}

#tech-skills {
	margin: 0 2.5%;
	display: inline-block;
	width: 31%;
}

/*Start Responsive Design*/

@media (max-width: 800px){
	h1 {
		font-size: 2em;
	}

	.container {
		margin: 0 5%;
	}

	.mobile-hide,
	#tagline > .mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}

	.nav-link {
		display: inline-block;
	    font-size: 1rem;
	}

	.nav-link:hover > a:after {
		content: none;
	}

	.social-icons:hover {
		top: 0;
	}

	#about-me > article {
		display: block;
		width: auto;
	}

	#contact > .contact-icons {
		background-color: rgba(0, 0, 0, 0);
		justify-content: space-between;
		padding: 0 0 .7rem 0;
	}

	#contact > .contact-icons > li {
		-webkit-filter: invert(.8);
		filter: invert(.8);
	}

	#main-photo {
		margin-top: 1em;
		margin-bottom: 0;
	}

	#more-gifs,
	#tech-skills {
		margin: 3rem 0;
	}

	#nav-links {
		padding: .5rem 5%;
	}

	#project-list > article {
		background-color: rgba(250, 250, 250, .1);
		display: block;
		width: auto;
	}

	#project-list h3 {
		padding: 1rem 0 0 1rem;
	}

	#project-list p {
		margin: 0;
		padding: 1rem;
	}

	#tagline {
		font-size: 1.5em;
	}
}
